.App {
  text-align: center;
}
.formdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  width: 400px;
  display: flex;
  flex-direction: column;
}
.add{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.addnewNotes{
 border-radius: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
 
}
input{
  margin-bottom: 10px;
  position: relative;
  margin-right: 0px;
}
.createNote{
  background-color: #a1a1a1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px --1px rgba(0, 0, 0, 0.1);
  color: #464242;
  padding: 10px 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.listHeader{
  height: 100px;
   background-color: #a1a1a1;
  font-family: sans-serif;
  color: white;
  border-radius: 10px;
}

.label{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.backdrop form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.logoIcon{
  background-color: gray;
  color: white;
  border-radius: 50px;
}

.it{
  font-family: sans-serif;
  height: 100px;
}

.note-icons svg {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  cursor: pointer;
}

.created-time{
  white-space: pre-line;
}

.created{
  width: 150px;
}

.logo{
  width: 100px;
}